<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Selection App</title>
</head>
<body>

    <div id="startTextContainer">
        <p>Hvala za soglasje sodelovanja v eksperimentu. Trajal bo okrog 10 min. V prvem delu vam bomo kazali slike eno za drugo. Vaša naloga bo, da pri vsaki sliki poveste ali je enaka kot ena slika pred njo.  Navodilo za drugi del sledi po prvem delu. Reševanje začnete s klikom na "Start".</p>
        <br>
        <p>Če ste že začeli z reševanjem eksperimenta, lahko s klikom na 'Start' nadaljujete.</p>
    </div>
    
    <button id="startBtn">Start</button>

    <div id="imageContainer" style="display: none;">
        <img id="displayImage" src="" alt="Loading..." style="width: 300px;">
        <b id="imageIdx" style="display: none;"></b>
        <b id="imageIdxInSet"></b><b> / 25</b>
        <p id="imageName" style="display: none;"></p>
        <br>
        <button id="yesBtn">Yes</button>
        <button id="noBtn">No</button>
    </div>

    <div id="halfwayContainer" style="display: none;">
        <p>Hvala, ta del eksperimenta ste zaključili. Sledi drugi del, kjer se pravilo spremeni. Vprašanje o enakosti slike se bo nanašalo na dve slike pred prikazano sliko.</p>
    </div>

    <div id="finishContainer" style="display: none;">
        <p>Hvala, eksperiment ste zaključili. Prosimo vas, da odgovorite še na vprašanja, ki sledijo.</p>
        <p>Začnete tako, da kliknete gumb "Nadaljujte".</p>
        <button id="anketa1ka" onclick="window.location.href='https://www.1ka.si/d/sl';">Nadaljujte</button>
    </div>

    <script>
        document.getElementById("startBtn").addEventListener("click", loadNewImage);
        document.getElementById("yesBtn").addEventListener("click", function() {
            postYes();
            loadBlankImage();
            setTimeout(function() {
                loadNewImage();
            }, 2000);
        });
        document.getElementById("noBtn").addEventListener("click", function() {
            postNo();
            loadBlankImage();
            setTimeout(function() {
                loadNewImage();
            }, 2000);
        });

        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                const [name, value] = cookie.trim().split('=');
                if (name === 'csrftoken') {
                    return value;
                }
            }
            return '';
        }

        function loadNewImage() {
            fetch('/api/get-image/', {
                method: 'POST',
                headers: { 
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.image_url) {
                    document.getElementById("displayImage").src = data.image_url;
                    document.getElementById("imageContainer").style.display = "block";
                    document.getElementById("startTextContainer").style.display = "none";
                    document.getElementById("startBtn").style.display = "none";
                    document.getElementById("halfwayContainer").style.display = "none";
                    document.getElementById("finishContainer").style.display = "none";
                }
                if (data.image_name) {
                    console.log("Image name:", data.image_name);
                    document.getElementById("imageName").textContent = data.image_name;
                }
                if (data.image_idx) {
                    console.log("Image index:", data.image_idx);
                    document.getElementById("imageIdx").textContent = data.image_idx;
                }
                if (data.image_idx_in_set) {
                    console.log("Image index in set:", data.image_idx_in_set);
                    document.getElementById("imageIdxInSet").textContent = data.image_idx_in_set;
                }
                if (data.message) {
                    console.log(data.message);
                    if (data.message === "Halfway through the experiment") {
                        document.getElementById("startTextContainer").style.display = "none";
                        document.getElementById("startBtn").style.display = "block";
                        document.getElementById("imageContainer").style.display = "none";
                        document.getElementById("halfwayContainer").style.display = "block";
                        document.getElementById("finishContainer").style.display = "none";
                    }
                    if (data.message === "Experiment finished") {
                        document.getElementById("startTextContainer").style.display = "none";
                        document.getElementById("startBtn").style.display = "none";
                        document.getElementById("imageContainer").style.display = "none";
                        document.getElementById("halfwayContainer").style.display = "none";
                        document.getElementById("finishContainer").style.display = "block";
                    }
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function postYes() {
            fetch('/api/post-yes/', {
                method: 'POST',
                headers: { 
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                body: JSON.stringify({ 
                    image_name: document.getElementById("imageName").textContent,
                    image_idx: document.getElementById("imageIdx").textContent
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function postNo() {
            fetch('/api/post-no/', {
                method: 'POST',
                headers: { 
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken()
                },
                body: JSON.stringify({
                    image_name: document.getElementById("imageName").textContent,
                    image_idx: document.getElementById("imageIdx").textContent
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function loadBlankImage() {
            document.getElementById("startTextContainer").style.display = "none";
            document.getElementById("startBtn").style.display = "none";
            document.getElementById("imageContainer").style.display = "none";
            document.getElementById("halfwayContainer").style.display = "none";
            document.getElementById("finishContainer").style.display = "none";
        }
    </script>
</body>
</html>
